body {
  background-color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#title {
  font-size: 35px;
  font-weight: 100;
}

#color-palette {
  display: inline-flex;
}

.color {
  display: inline-flex;
  border: black solid 1px;
  width: 50px;
  height: 50px;
  margin: 0;
}

#color2 {
  display: inline-flex;
  height: 52px;
  width: 52px;
  margin-left: 10px;
}

.seletores {
  margin: 20px;
}

#clear-board {
  width: 100px;
}

#board-size {
  width: 50px;
  justify-content: center;
  padding: 0;
}

#generate-board {
  width: 100px;
}

#pixel-board {
  display: inline-block;
}

.horizontal {
  display: flex;
  justify-self: auto;
}

.pixel {
  background-color: white;
  width: 40px;
  height: 40px;
  border: black solid 1px;
  display: flex;
  margin: 0;
}
